<!DOCTYPE html>

<html>

<form method="post" name="Update">
    <input type="text" placeholder="Project Id">
    <input type="text" placeholder="Key Ring">
    <input type="text" placeholder="Encrypt Key Name">
    <input type="text" placeholder="Environment">
    <input type="text" placeholder="Secret Key">
    <input type="text" placeholder="Secret Content">
    <button type="submit">submit</button>
</form>

<form method="get" action="/">
    <button type="submit">Back to home</button>
</form>

</html>